<div fxLayout="column" fxLayoutAlign="center center">
  <p>follow for more</p>
  <ul fxLayout="row" fxLayoutAlign="center center">
    <li fxLayout="row" fxLayoutAlign="center center">
      <a fxLayout="row" fxLayoutAlign="center center" href="https://www.instagram.com/gr3g5hu5t3r/">
        <img src="assets/img/insta.png" alt="Instagram">
      </a>
    </li>
    <li fxLayout="row" fxLayoutAlign="center center">
      <a fxLayout="row" fxLayoutAlign="center center" href="https://dribbble.com/GregShuster">
        <img src="assets/img/dribbble.png" alt="Dribble">
      </a>
    </li>
    <li fxLayout="row" fxLayoutAlign="center center">
      <a fxLayout="row" fxLayoutAlign="center center" href="https://www.behance.net/greg_shuster">
        <img src="assets/img/behance.png" alt="Behance">
      </a>
    </li>
    <li fxLayout="row" fxLayoutAlign="center center">
      <a fxLayout="row" fxLayoutAlign="center center" href="https://www.linkedin.com/in/shustergreg/">
        <img src="assets/img/linkedin.png" alt="LinkedIn">
      </a>
    </li>
    <li fxLayout="row" fxLayoutAlign="center center">
      <a fxLayout="row" fxLayoutAlign="center center" href="https://www.youtube.com/channel/UCVK9l2DzU80gjHH9rH6gYEQ">
        <img src="assets/img/youtube.png" alt="Youtube">
      </a>
    </li>
  </ul>
</div>
